:root {
  --hover-color: #C45C7C;
  --size-xs: 0; /* No media query for `xs` since this is the default */
  --size-sm: 576px; /* Small devices (landscape phones, 576px and up) */
  --size-md: 768px; /* Medium devices (tablets, 768px and up) */
  --size-lg: 992px; /* Large devices (desktops, 992px and up) */
  --size-xl: 1200px; /* X-Large devices (large desktops, 1200px and up) */
  --size-xxl: 1400px; /* XX-Large devices (larger desktops, 1400px and up) */
}

/* UTILS */

.vertical-divisor {
  margin: 0 10px;
}

.round-black-button {
  border-radius: 999em;
  background-color: black;
  color: white;
  padding: .8rem 1.8rem;
}

/* BODY STYLES */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--size-xl);
  padding: 20px 50px;
}

/* NAV STYLES */

#main-nav {
  display: grid;
  grid-template-rows: 30px 30px;
}

#main-nav .nav-top {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr auto;
}

#main-nav .nav-top span {
  font-weight: bold;
}

#main-nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

#main-nav ul li {
  list-style: none;
}

#main-nav ul li:not(:last-child) {
  margin-right: 20px;
}

#main-nav a {
  color: black;
  text-decoration: none;
}

#main-nav a:hover {
  color: var(--hover-color);
}

#main-nav .nav-bottom {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

/* INTRO STYLES */

#intro {
  display: grid;
  grid-template-columns: 250px auto;
  padding: 50px 0;
}

#intro .photo img {
  border-radius: 50%;
  width: 200px;
  height: auto;
}

#intro .description .hello {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

#intro .buttons-list {
  margin-top: 50px;
}

#intro .buttons-list a {
  margin-right: 50px;
}

/* PROJECT STYLES */

#projects {
  padding: 50px 0;
}

#projects .projects-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#projects .projects-title h3 {
  margin: 0;
}

#projects .projects-title > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#projects .projects-title > div:nth-child(2) {
  align-items: flex-end;
}