:root {
  /* Fonts */
  --font-montserrat: "Montserrat", sans-serif;
  --font-geist: "Geist Mono", monospace;
  --base-font: var(--font-geist);
  /* Colors */
  --color-hover: #C45C7C;
  --color-dark: #232121;
  --color-darkgrey: #434040;
  --color-grey: #CDCBCB;
  /* #F5F3EF; */
  --color-light: #FFF;
  --color-light-rgba: 255, 255, 255;
  --color-lightgrey: #EDEBE7;
  --text-color-dark: #333333;
  --text-color-dark-rgba: 51, 51, 51;
  --text-color-light: #F5F3EF;
  --text-color-light-rgba: 245, 243, 239;
  /* Sizes */
  --xs-gap: 15px;
  --sm-gap: 30px;
  --md-gap: 50px;
  --lg-gap: 80px;
  --section-padding: 50px 0;
  --project-border-radius: 25px;
  /* Media Queries */
  --size-xs: 0;
  /* No media query for `xs` since this is the default */
  --size-sm: 576px;
  /* Small devices (landscape phones, 576px and up) */
  --size-md: 768px;
  /* Medium devices (tablets, 768px and up) */
  --size-lg: 992px;
  /* Large devices (desktops, 992px and up) */
  --size-xl: 1200px;
  /* X-Large devices (large desktops, 1200px and up) */
  --size-xxl: 1400px;
  /* XX-Large devices (larger desktops, 1400px and up) */
}

:root[data-theme="light"] {
  /* Light Theme */
  --main-background-color: var(--color-light);
  --accent-background-color: var(--color-dark);
  --alt-background-color: var(--color-lightgrey);
  --border-color: var(--color-dark);
  --tech-badge-odd: var(--color-darkgrey);
  --tech-badge-even: var(--color-grey);
  --main-text-color: var(--text-color-dark);
  --main-text-color-rgba: var(--text-color-dark-rgba);
  --accent-text-color: var(--text-color-light);
  --accent-text-color-rgba: var(--text-color-light-rgba);
  --underline-text-color: var(--text-color-dark-rgba);
  --background-project-odd-color: var(--color-dark);
}

:root[data-theme="dark"] {
  /* Dark Theme */
  --text-color-dark: #232121;
  --main-background-color: var(--color-dark);
  --accent-background-color: var(--color-light);
  --alt-background-color: var(--color-darkgrey);
  --border-color: var(--color-light);
  --tech-badge-odd: var(--color-lightgrey);
  --tech-badge-even: var(--color-dark);
  --main-text-color: var(--text-color-light);
  --main-text-color-rgba: var(--text-color-light-rgba);
  --accent-text-color: var(--text-color-dark);
  --accent-text-color-rgba: var(--text-color-dark-rgba);
  --underline-text-color: var(--text-color-light-rgba);
  --background-project-odd-color: rgba(var(--color-light-rgba), 0.7);
}

[data-theme="dark"] img {
  filter: brightness(.8) contrast(1.1);
}

[data-theme="dark"] p {
  font-weight: 300;
}

[data-theme="dark"] footer p {
  font-weight: 400;
}

[data-theme="dark"] h1 {
  font-weight: 550;
}

[data-theme="dark"] h2 {
  font-weight: 500;
}

[data-theme="dark"] h3 {
  font-weight: 500;
}

/* BASE STYLES */

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--base-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 0 auto;
  position: relative;
}

body main {
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: var(--size-xl);
  padding: var(--xs-gap);
  row-gap: var(--lg-gap);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 350ms ease-out;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  margin-bottom: 15px;
}

h2,
h3 {
  margin-bottom: 12px;
}


/* UTILS */

.vertical-divisor {
  margin: 0 15px;
}

.vertical-divisor::before {
  content: "|";
}

.dot-divisor {
  margin: 0 15px;
}

.dot-divisor::before {
  content: "·";
  font-size: 1.5rem;
}

.hover-translation {
  transition: transform 200ms ease-in-out;
}

.hover-translation:hover {
  transform: translateY(-3px);
}

.link-with-underline {
  text-decoration: underline rgba(var(--underline-text-color), 0);
  transition: text-decoration-color 300ms ease-in-out;
}

.link-with-underline:hover {
  text-decoration-color: rgba(var(--underline-text-color), 1);
}

.round-button {
  align-items: center;
  border-radius: 999em;
  box-sizing: border-box;
  display: inline-flex;
}

.black-button-lg {
  background-color: var(--accent-background-color);
  border: 1px solid var(--border-color);
  color: var(--accent-text-color);
  padding: .5rem 1.4rem;
}

.outline-button-sm {
  border: 1px solid var(--border-color);
  color: var(--main-text-color);
  font-size: .75rem;
  padding: .2rem .7rem;
}

.outline-button-md {
  border: 1px solid var(--border-color);
  color: var(--main-text-color);
  padding: .3rem 1rem;
}

.outline-button-lg {
  border: 1px solid var(--border-color);
  color: var(--main-text-color);
  padding: .5rem 1.4rem;
}

.button-with-icon {
  align-items: center;
  display: inline-flex;
}

.button-with-icon svg,
.button-with-icon img {
  margin-left: 10px;
}

.section-title {
  display: grid;
  margin-bottom: 50px;
}

.section-title div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-title .actions {
  align-items: flex-end;
  font-size: .9rem;
  margin-top: 1.3rem;
}

.section-title h3 {
  margin: 0;
}

.tags-list {
  margin-bottom: var(--sm-gap);
}

.tags-list ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.tags-list li {
  list-style: none;
  margin-right: var(--xs-gap);
}

/* THEME SELECTOR STYLES */

.theme-selector {
  align-self: flex-start;
  display: flex;
  margin-bottom: 3rem;
  /* Move theme-selector button to the first place */
  order: -1;
}

.theme-selector div {
  border: 1px solid var(--color-light);
  align-items: center;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 22px;
  padding: 4px;
  transition: all 1s ease;
  width: 40px;
}

.theme-selector .icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 1s ease;
  transform-origin: 50% 50% 0px;
}

[data-theme="light"] .theme-selector .container {
  background-color: var(--accent-background-color);
}

[data-theme="dark"] .theme-selector .container {
  background-color: var(--alt-background-color);
}

[data-theme="light"] .theme-selector .icon {
  box-shadow: var(--main-background-color) 16px -1px inset;
  transform: none;
}

[data-theme="dark"] .theme-selector .icon {
  box-shadow: var(--accent-background-color) 6px -1px inset, var(--accent-background-color) 3px 0px 0px 0px inset;
  transform: translateX(16px) rotate(360deg);
}

/* NAV STYLES */

#main-nav {
  grid-template-rows: 30px 30px;
  margin: 0 auto;
  max-width: var(--size-xl);
  padding: var(--xs-gap);
}

#main-nav .nav-top {
  border-bottom: 1px solid var(--border-color);
}

#main-nav .nav-top span {
  font-weight: bold;
}

#main-nav .menu {
  background-color: var(--alt-background-color);
  bottom: 0;
  justify-content: flex-end;
  margin: 0;
  padding: 20px var(--md-gap) var(--md-gap) var(--md-gap);
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 998;
}

#main-nav .menu li {
  list-style: none;
}

#main-nav .menu li:not(:last-child) {
  margin-right: var(--sm-gap);
}

#main-nav .menu li:not(.theme-selector) {
  margin-bottom: 1rem;
}

#main-nav a:hover {
  color: var(--color-hover);
}

#main-nav #nav-toggle {
  display: none;
}

#main-nav #nav-toggle-btn {
  cursor: pointer;
  position: relative;
  width: 24px;
  z-index: 999;
}

#main-nav #nav-toggle-btn span {
  background: var(--accent-background-color);
  display: block;
  height: 2px;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, margin 0.5s ease;
  width: 24px;
  z-index: 1;
}

#main-nav #nav-toggle-btn span:not(:last-child) {
  margin-bottom: 5px;
}

#main-nav #nav-toggle-btn span:first-child {
  transform-origin: top left;
}

#main-nav #nav-toggle-btn span:nth-child(3) {
  transform-origin: bottom left;
}

#main-nav #nav-toggle:checked ~ #nav-toggle-btn span {
  background: var(--accent-background-color);
  transform: rotate(45deg); 
}

#main-nav #nav-toggle:checked ~ #nav-toggle-btn span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#main-nav #nav-toggle:checked ~ #nav-toggle-btn span:nth-child(3) {
  transform: rotate(-45deg);
  margin-top: 7px;
}

#main-nav #nav-toggle:checked ~ .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* HERO STYLES */

#hero {
  padding-top: var(--xs-gap);
  padding-bottom: var(--lg-gap);
}

#hero .photo img {
  border-radius: 50%;
  height: auto;
  margin-bottom: 2em;
  width: 200px;
}

#hero .description {
  text-align: center;
}

#hero .description .hello {
  font-size: 2rem;
  margin-bottom: 15px;
}

#hero .buttons-list {
  margin-top: 50px;
}

#hero .buttons-list a:not(:last-child) {
  margin-right: var(--xs-gap);
}

#hero .buttons-list a:not(.button-with-icon) {
  height: 42px;
  width: 70px;
  justify-content: center;
}

#hero .buttons-list div {
  margin-bottom: var(--sm-gap);
}

/* PROJECT STYLES */

#projects .projects-list .project {
  border-radius: var(--project-border-radius);
  /* grid-template-columns: 1fr 1fr; */
  margin-bottom: var(--md-gap);
  min-height: 350px;
}

#projects .projects-list .project .cover {
  display: flex;
}

#projects .projects-list .project .cover img {
  justify-self: center;
  align-self: end;
  height: auto;
  margin: 0;
  border-radius: var(--project-border-radius) var(--project-border-radius) 0 0;
  width: 100%;
}

#projects .projects-list .project:nth-child(odd) {
  background-color: var(--background-project-odd-color);
  color: var(--accent-text-color);
}

#projects .projects-list .project:nth-child(odd) a {
  --underline-text-color: var(--accent-text-color-rgba);
  color: var(--accent-text-color);
}

#projects .projects-list .project:nth-child(even) {
  background-color: var(--alt-background-color);
  color: var(--main-text-color);
}

#projects .projects-list .project:nth-child(even) a {
  color: var(--main-text-color);
}

#projects .projects-list .project:nth-child(even) .project-details {
  order: -1;
  padding: var(--xs-gap);
}

#projects .projects-list .project-details .project-title {
  margin-bottom: 20px;
}

#projects .projects-list .project-details {
  padding: var(--xs-gap);
}

#projects .projects-list .project .tech ul {
  margin: 0;
  margin: 15px 0 20px 0;
  padding: 0;
}

#projects .projects-list .project .tech li {
  border-radius: 3px;
  list-style: none;
  display: inline-block;
  font-size: .7rem;
  padding: .2rem .6rem;
  margin-right: 10px;
}

#projects .projects-list .project:nth-child(odd) .tech li {
  background-color: var(--tech-badge-odd);
}

#projects .projects-list .project:nth-child(even) .tech li {
  background-color: var(--tech-badge-even);
}

#projects .projects-list .project .description {
  font-size: .95rem;
  line-height: 1.5rem;
}

#projects .projects-list .project .project-actions {
  margin-top: var(--sm-gap);
}

#projects .projects-list .project .project-actions a {
  align-items: center;
  display: flex;
  font-size: .9rem;
  margin-right: 50px;
}

#projects .projects-list .project:nth-child(odd) .project-actions a {
  color: var(--accent-text-color);
}

#projects .projects-list .project .project-actions a svg {
  margin-left: 5px;
  height: auto;
  width: 16px;
}

#projects .project-details .project-actions p {
  align-items: center;
  display: flex;
}

#projects .project-details .project-actions p a {
  margin-left: 8px;
}

#projects .project-details .project-actions p svg {
  height: auto;
  margin-right: 5px;
  width: 20px;
}

#projects .project .image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--sm-gap);
}

#projects .project .image-gallery img {
  border-radius: 5px;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  width: auto;
}

#projects .project .image-gallery img:hover {
  transform: scale(1.03);
}

#projects .project .image-gallery img {
  width: 100%;
}

#projects .project .image-gallery .img-25pct,
#projects .project .image-gallery .img-50pct,
#projects .project .image-gallery .img-100pct {
  grid-column: auto / span 4;
}

#projects .project .section {
  margin-top: var(--md-gap);
}

#projects .project .section h2 {
  margin-bottom: 1.2rem;
  opacity: .8;
}

/* BLOG STYLES */

#blog .writings {
  /* grid-template-columns: 2fr 1fr; */
  column-gap: var(--lg-gap);
}

#blog .posts .post {
  margin-bottom: var(--md-gap);
}

#blog .post h1,
#blog .post h3
 {
  margin-bottom: 0;
}

#blog .post .date {
  color: grey;
  font-size: .9rem;
  margin-top: 8px;
}

#blog .post .date svg {
  color: var(--main-text-color);
  margin-right: 5px;
  height: auto;
  width: 16px;
}

#blog .thoughts ul {
  padding: 0;
  margin: 0;
}

#blog .thoughts ul li {
  list-style: none;
  margin-bottom: 15px;
}

#blog .thoughts ul li .date {
  display: inline-block;
  width: 100px;
}

#blog .post .content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: var(--lg-gap);
  margin: var(--sm-gap) 0;
}

#blog .post .content h1 {
  margin-top: 2.5rem;
}

#blog .post .content h2 {
  margin-top: 2rem;
}

#blog .post .content h3 {
  margin-top: 1.5rem;
}

/* FOOTER STYLES */

footer {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color);
}

footer .container {
  margin: 0 auto;
  max-width: var(--size-xl);
  padding: var(--xs-gap);
  /* grid-template-columns: 1fr 1fr; */
}

footer p {
  font-size: .9rem;
  margin: 0;
  text-align: center;
}

footer p:first-child {
  margin-bottom: 10px;
}

/* GO UP BUTTON */

#go-up {
  align-items: center;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  background-color: var(--accent-background-color);
  border-radius: 100%;
  bottom: 20px;
  display: none;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 20px;
  width: 50px;
}

#go-up.show {
  display: flex;
}

#go-up a {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#go-up svg {
  color: var(--accent-text-color);
  height: auto;
  width: 10px;
}

@keyframes goUpShow {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes goUpHide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* TWEAKS */

/* Prevent glightbox fill svg icons */
.glightbox-clean .gclose path, .glightbox-clean .gnext path, .glightbox-clean .gprev path {
  fill: none !important;
}

/* Customize syntax highlight component */
.codehilite {
  border-radius: 3px;
  padding: var(--xs-gap);
}

.codehilite pre {
  margin: 0;
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body main {
    padding: var(--sm-gap) var(--md-gap);
  }

  #main-nav {
    padding: var(--sm-gap) var(--md-gap);
  }

  #blog .post .date {
    margin-top: 0;
  }

  .section-title {
    grid-template-columns: 2fr 1fr;
  }

  #projects .project .image-gallery .img-25pct {
    grid-column: auto / span 2;
  }
  
  #projects .project .image-gallery .img-50pct {
    grid-column: auto / span 4;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .theme-selector {
    /* Restore theme-selector button place */
    order: unset;
  }

  .theme-selector div {
    border: none;
  }

  #main-nav .menu {
    background-color: transparent;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
  }

  #main-nav .menu li {
    margin-bottom: 0 !important;
  }

  #hero .buttons-list a:last-child {
    margin-right: var(--xs-gap);
  }

  #projects .projects-list .project {
    filter: saturate(0);
    transition: filter 300ms ease-in-out;
  }
  
  #projects .projects-list .project:hover {
    filter: saturate(1);
  }

  #projects .projects-list .project .cover {
    justify-content: center;
    overflow: hidden;
  }

  #projects .projects-list .project .cover img {
    height: 350px;
    object-fit: cover;
    object-position: left top;
  }

  #projects .projects-list .project-details {
    padding: var(--sm-gap);
  }

  #projects .project .image-gallery .img-25pct {
    grid-column: auto / span 1;
  }
  
  #projects .project .image-gallery .img-50pct {
    grid-column: auto / span 2;
  }

  footer .container {
    padding: var(--sm-gap) var(--md-gap);
  }

  footer .container p:nth-child(1) {
    text-align: left;
  }

  footer .container p:nth-child(2) {
    text-align: right;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #hero {
    grid-template-columns: 250px auto;
  }

  #hero .description {
    text-align: left;
  }

  #projects .projects-list .project:nth-child(even) .project-details {
    padding: var(--sm-gap) 0 var(--sm-gap) var(--md-gap);
  }

  #projects .projects-list .project .cover {
    padding: 0 20px;
  }

  #projects .projects-list .project .cover img {
    height: auto;
    max-width: 400px;
  }

  #projects .projects-list .project-details {
    padding: var(--sm-gap) var(--sm-gap) var(--sm-gap) 0;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}