{% extends "home.html" %}
{% load static %}
{% load i18n %}
{% load render_markdown %}

{% block title %}About  |  Luciano Muñoz - Full Stack Web Developer  |  {% translate "Python y Javascript" context "Page title" %}{% endblock title %}

{% block content %}
  <section id="about">
    <div class="section-title">
      <div class="titles">
        <h2>{% translate "Quién soy?" context "About me title" %}</h2>
        <h3>{% translate "Te invito a leer un poco acerca de mí, quién soy y con qué tecnologías trabajo." context "Section subtitle" %}</h3>
      </div>
    </div>
    <div class="content">
      {{about.content|render_markdown}}
    </div>
  </section>
{% endblock content %}
