{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>Luciano Muñoz - Full Stack Web Developer  |  Python and Javascript</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav id="main-nav">
      <div class="nav-top">
        <div>
          <span>LUCIANO MUÑOZ</span>
        </div>
        <div>
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Thoughts</a></li>
          </ul>
        </div>
      </div>
      <div class="nav-bottom">
        <a href="">EN</a><span class="vertical-divisor">|</span><a href="">ES</a>
      </div>
    </nav>
    <section id="intro">
      <div class="photo">
        <img src="{% static "img/me.png" %}" alt="">
      </div>
      <div class="description">
        <h1 class="hello">Hi there, I'm Luciano 👋</h1>
        <p>A Full Stack Web Developer from Argentina with 6+ years working as a freelance.</p>
        <p>Currently working with Python 🐍 and Javascript 💛.</p>
        <div class="buttons-list">
          <a href="" class="round-black-button">Hire Me</a>
          <a href="" class="white-button">Download CV <img src="{% static "img/download.svg" %}" alt=""></a>
        </div>
      </div>
    </section>
    <section id="projects">
      <div class="projects-title">
        <h2>Projects</h2>
        <h3>Let's have a look at my portfolio</h3>
      </div>
      <div>
        <a href="">See All</a>
      </div>
      <div class="project-list">
        <div class="project">
          <img src="" alt="">
          <div class="project-details">
            <h3></h3>
            <p></p>
            <div class="tech">
              <ul>
                <li>
                  <span>Python</span>
                  <span>Django</span>
                  <span>JavaScript</span>
                  <span>CSS</span>
                </li>
              </ul>
            </div>
            <div class="project-actions">
              <a href=""><img src="{% static "img/external-link.svg" %}" alt=""> View</a>
              <a href=""><img src="{% static "img/github.svg" %}" alt=""> Source</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="blog">
      <div class="latest-posts">
        <article class="post">
          <h3>My post</h3>
          <p class="date"></p>
          <p class="resume">Extract of the blog post with. A resume of the content.</p>
        </article>
      </div>
      <div class="thoughts">
        <article class="post">
          <h3>My thought</h3>
          <p class="date"></p>
          <p class="resume">Extract of the blog post with. A resume of the content.</p>
        </article>
      </div>
    </section>
    <footer>
      <p>© 2024 Luciano Muñoz</p>
      <p>Built with Django, HTML and vanilla CSS.</p>
    </footer>
  </body>
</html>