{% load static %}
{% load get_reading_time %}
{% load render_markdown %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/grid.css" %}">
    <link rel="stylesheet" href="{% static "css/pygments_monokai.css" %}">
    <title>
      {% block title %}
        Luciano Muñoz - Full Stack Web Developer  |  Python and Javascript
      {% endblock title %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">

    {% block header_extra %}{% endblock header_extra %}

    <script>
      // Check if a theme is stored in local storage and apply it
      // This code runs outside the "load" event to avoid flickering on reload
      let storedTheme = localStorage.getItem("theme");
      if (storedTheme == "dark") {
        document.documentElement.setAttribute('data-theme', 'dark');
      } else if (storedTheme == "light") {
        document.documentElement.setAttribute('data-theme', 'light');
      }

      window.addEventListener('load', () => {
        const themeSelector = document.querySelector(".theme-selector");
        const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

        // If there is not stored theme in local storage 
        // check prefers-color-scheme querie to see wich theme to apply
        if (!storedTheme) {
          if(prefersDarkScheme.matches) {
            document.documentElement.setAttribute('data-theme', 'dark');
          } else {
            document.documentElement.setAttribute('data-theme', 'light');
          }
        }

        // Detect if system theme has changed and update the theme without reloading the page
        prefersDarkScheme.addEventListener("change", function(e) {
          // Get the theme each time to avoid issue with change event when user selected a theme for the first time
          storedTheme = localStorage.getItem("theme");
          if (!storedTheme) {
            if(e.matches) {
              document.documentElement.setAttribute('data-theme', 'dark');
            } else {
              document.documentElement.setAttribute('data-theme', 'light');
            }
          }
        });

        // Add event listener to theme selector to switch theme
        themeSelector.addEventListener("click", function () {
          const currentTheme = document.documentElement.getAttribute('data-theme');
          if(currentTheme == 'light') {
            document.documentElement.setAttribute('data-theme', 'dark');
            var theme = "dark";
          }
          
          if(currentTheme == 'dark') {
            document.documentElement.setAttribute('data-theme', 'light');
            var theme = "light";
          }

          localStorage.setItem("theme", theme);
        });
      });
    </script>
    <script>
      window.addEventListener('load', () => {
        const goUpButton = document.getElementById('go-up');
        const viewportHeight = window.innerHeight;

        function scrollFunction() {
          if (document.body.scrollTop > viewportHeight || document.documentElement.scrollTop > viewportHeight) {
            goUpButton.style.animationName = 'goUpShow';
            goUpButton.classList.add('show');
          } else {
            goUpButton.style.animationName = 'goUpHide';
            setTimout(() => {
              goUpButton.classList.remove('show');
            }, 500);
          }
        }

        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }

        goUpButton.addEventListener('click', () => {
          topFunction();
        });
        window.addEventListener('scroll', () => {
          scrollFunction();
        });
      });
    </script>
  </head>
  <body>
    <nav id="main-nav" class="row">
      <div class="nav-top row col-12">
        <div class="col-9 col-sm-4">
          <span><a href="/">LUCIANO MUÑOZ</a></span>
        </div>
        <div class="col-3 col-sm-8 d-flex jc-end">
          <input type="checkbox" id="nav-toggle"/>
          <label for="nav-toggle" id="nav-toggle-btn" class="d-md-none">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <ul class="menu d-md-flex">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'thoughts' %}">Thoughts</a></li>
            <li class="theme-selector">
              <div class="container">
                <span class="icon"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav-bottom row col-12">
        <a href="">EN</a><span class="vertical-divisor"></span><a href="">ES</a>
      </div>
    </nav>
    <main class="d-grid">
      {% block content %}
        <section id="hero" class="d-grid">
          <div class="photo d-flex jc-center ai-start">
            <img src="{% static "img/me.png" %}" alt="">
          </div>
          <div class="description">
            <h1 class="hello">Hi there, I'm Luciano 👋</h1>
            <p>A Full Stack Web Developer from Argentina with 6+ years working as a freelance.</p>
            <p>Currently working with Python 🐍 and Javascript 💛.</p>
            <div class="buttons-list d-flex jc-center">
              <a href="" class="round-button black-button-lg hover-translation">
                <svg class="icon" height="24" width="24">
                  <use xlink:href="{% static "img/github.svg" %}#github"></use>
                </svg>
              </a>
              <a href="" class="round-button black-button-lg hover-translation">
                <svg class="icon" height="19" width="19">
                  <use xlink:href="{% static "img/linkedin.svg" %}#linkedin"></use>
                </svg>
              </a>
              <a href="" class="round-button black-button-lg button-with-icon hover-translation">
                hola@luciano.im
                <svg class="icon" width="24" height="24">
                  <use xlink:href="{% static "img/email.svg" %}#email"></use>
                </svg>
              </a>
              <a href="" class="round-button outline-button-lg button-with-icon hover-translation">
                Download CV
                <svg class="icon" width="24" height="24">
                  <use xlink:href="{% static "img/download.svg" %}#download"></use>
                </svg>
              </a>
            </div>
          </div>
        </section>
        <section id="projects">
          <div class="section-title">
            <div class="titles">
              <h2>Projects</h2>
              <h3>Let's have a look at my portfolio</h3>
            </div>
            <div class="actions">
              <a href="{% url 'projects' %}" class="round-button outline-button-md hover-translation">See All</a>
            </div>
          </div>
          <div class="projects-list">
            {% for project in projects %}
              <div class="project">
                <img src="{{project.featured_image.url}}" alt="" class="cover">
                <div class="project-details">
                  <h2 class="project-title"><a href="{% url 'project' project.slug %}" class="link-with-underline">{{project.name}}</a></h2>
                  <div class="tech">
                    <ul>
                      {% for tech in project.tech.all %}
                        <li>{{tech}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="description">
                    {{project.overview|safe}}
                  </div>
                  <div class="project-actions">
                    <a href="{{project.repo}}" class="hover-translation">
                      Github
                      <svg class="icon" height="24" width="24">
                        <use xlink:href="{% static "img/github.svg" %}#github"></use>
                      </svg>
                    </a>
                    <a href="{{project.url}}" class="hover-translation">
                      View
                      <svg class="icon" height="24" width="24">
                        <use xlink:href="{% static "img/external-link.svg" %}#external-link"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>
        <section id="blog">
          <div class="section-title">
            <div class="titles">
              <h2>Blog</h2>
              <h3>Chekout what I have to say</h3>
            </div>
            <div class="actions">
              <a href="" class="round-button outline-button-md hover-translation">See All</a>
            </div>
          </div>
          <div class="writings">
            <div class="posts">
              {% for post in posts %}
                <article class="post">
                  <h3><a href="{% url 'post' post.slug %}" class="post-title link-with-underline">{{post.title}}</a></h3>
                  <p class="date">
                    <svg class="icon" height="24" width="24"><use xlink:href="{% static "img/calendar.svg" %}#calendar"></use></svg> Posted on {{post.published_at|date:"M d, Y"}}
                    <span class="dot-divisor"></span>
                    <svg class="icon" height="24" width="24"><use xlink:href="{% static "img/clock.svg" %}#clock"></use></svg> {% get_reading_time post.content %}
                  </p>
                  <div class="resume">
                    {{post.excerpt|render_markdown}}
                  </div>
                </article>
              {% endfor %}
            </div>
            <div class="thoughts">
              <h3>My Thoughts</h3>
              <ul>
                {% for thought in thoughts %}
                  <li><span class="date">{{thought.published_at|date:"Y-m-d"}}</span> <a href="{% url 'thought' thought.slug %}" class="post-title link-with-underline">{{thought.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>
      {% endblock content %}
    </main>
    <footer>
      <div class="container">
        <p>© 2024 Luciano Muñoz</p>
        <p>Built with Python, Django, HTML and vanilla CSS 🤘</p>
      </div>
    </footer>
    <div id="go-up">
      <a href="" class="go-up-button">
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 3L2.16795 1.24807C2.56377 0.654342 3.43623 0.654342 3.83205 1.24808L5 3" stroke="currentColor" stroke-width="1" stroke-linecap="round"/>
          <path d="M3.04321 1.26074V8.26074" stroke="currentColor" stroke-width="1" stroke-linecap="round"/>
        </svg>
      </a>
    </div>
    {% block body_extra %}{% endblock body_extra %}
  </body>
</html>