{% extends "home.html" %}
{% load static %}
{% load get_reading_time %}
{% load render_markdown %}

{% block title %}{{object.title}} | Luciano Muñoz - Full Stack Web Developer | Python and Javascript{% endblock title %}

{% block content %}
  <section id="blog">
    <article class="post">
      <div class="tags-list">
        <ul>
          {% for tag in object.tags.all %}
            <li class="round-button outline-button-sm"><a href="">{{tag}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <h1>{{object.title}}</h1>
      <p class="date">
        <svg class="icon" height="24" width="24"><use xlink:href="{% static "img/calendar.svg" %}#calendar"></use></svg> Posted on {{object.published_at|date:"M d, Y"}}
        <span class="dot-divisor"></span>
        <svg class="icon" height="24" width="24"><use xlink:href="{% static "img/clock.svg" %}#clock"></use></svg> {% get_reading_time object.content %}
      </p>
      <div class="content">
        <div>
          {{object.content|render_markdown}}
        </div>
      </div>
    </article>
  </section>
{% endblock content %}