{% extends "home.html" %}
{% load static %}

{% block title %}Proyectos  |  Luciano Muñoz - Full Stack Web Developer  |  Python and Javascript{% endblock title %}

{% block content %}
  <section id="projects">
    <div class="section-title">
      <div class="titles">
        <h2>Projects</h2>
        <h3>Let's have a look at my portfolio</h3>
      </div>
    </div>
    <div class="projects-list">
      {% for project in object_list %}
        <div class="project">
          <img src="{{project.featured_image.url}}" alt="" class="cover">
          <div class="project-details">
            <h2 class="project-title"><a href="{% url 'project' project.slug %}" class="link-with-underline">{{project.name}}</a></h2>
            <div class="tech">
              <ul>
                {% for tech in project.tech.all %}
                  <li>{{tech}}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="description">
              {{project.overview|safe}}
            </div>
            <div class="project-actions">
              <a href="{{project.repo}}" class="hover-translation">
                Github
                <svg class="icon" height="24" width="24">
                  <use xlink:href="{% static "img/github.svg" %}#github"></use>
                </svg>
              </a>
              <a href="{{project.url}}" class="hover-translation">
                View
                <svg class="icon" height="24" width="24">
                  <use xlink:href="{% static "img/external-link.svg" %}#external-link"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
