{% extends "home.html" %}
{% load static %}

{% block title %}Proyecto {{object.name}}  |  Luciano Muñoz - Full Stack Web Developer  |  Python and Javascript{% endblock title %}

{% block content %}
  <section id="projects">
    <div class="section-title">
      <div class="tech">
        <ul>
          {% for tech in object.tech.all %}
            <li>{{tech}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="titles">
        <h1>{{object.name}}</h1>
      </div>
    </div>
    <div class="project">
      <div class="project-details">
        <div class="description">
          {{object.overview|safe}}
        </div>
        <div class="project-actions">
          <p>year: {{object.year}}</p>
          <p>repo: {{object.repo}}</p>
          <p>view: {{object.url}}</p>
        </div>
      </div>
      <div class="section">
        <h2>Introduction</h2>
        {{object.intro|safe}}
      </div>
      <div class="section">
        <h2>Objetivos</h2>
        {{object.goals|safe}}
      </div>
      <div class="section">
        <h2>Desafíos</h2>
        {{object.challenges|safe}}
      </div>
      <div class="section">
        <h2>Solución</h2>
        {{object.solutions|safe}}
      </div>
      <div class="section">
        <h2>Impacto</h2>
        {{object.impact|safe}}
      </div>
      <div class="section">
        <h2>Conclusiones</h2>
        {{object.conclusion|safe}}
      </div>
      <div class="section">
        {% for img in object.project_image.all %}
          <img src="{{img.image.url}}" alt="">
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
